body {
    background-image: url('../images/reflection.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: rgb(184, 0, 0);
    font-size: 50px;
    font-family: 'verdana';
}

h1 {
    color: rgb(184, 0, 0);
    font-size: 100px;
}