html {
    background-image: url('drlove63.github.io/resources/images/reflection.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    color: orange;   
    color: rgb(13, 84, 18);
    font-size: 50px;
    font-family: 'verdana';
}

h1 {
    color: rgb(184, 0, 0);
    font-size: 100px;
}