body {
<<<<<<< HEAD
    background-color: lightblue;
    color: orange;
=======
    background-color: rgb(142, 41, 197);
    color: rgb(13, 84, 18);
    font-size: 50px;
    font-family: 'verdana';
}

h1 {
    color: rgb(184, 0, 0);
    font-size: 100px;
>>>>>>> 5d968c5b348b891677ffb8f284bb1a07d01dac04
}